<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title> {{!-- title parameter --}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container main-content">

       {{!-- {{>header}}  common header partial --}}

       {{>content}}  {{!-- mandatory inline partial --}}

    </div>

    {{!-- {{>footer}}  common footer partial --}}

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{#>scripts}}{{/scripts}} {{!-- optional inline partial --}}
</body>

</html>